{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Search</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <section id="group_list">
        {% for x in group_list %}
            <a href="group_page?group_id={{x.id}}">{{x.group}}</a>
        {%endfor%}
    </section>
    <section id="new_group">
        <a href="new_group_page">New Group</a>
    </section>


    
</body>
</html>